In [14]:
import pandas as pd
import os 
import csv

filepath = "data/dirty_zillow_homevalues_SFR_state.csv"

In [15]:
complete_housing_data = pd.read_csv(filepath, delimiter=",")

complete_housing_data

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/96,2/29/96,3/31/96,4/30/96,5/31/96,...,7/31/20,8/31/20,9/30/20,10/31/20,11/30/20,12/31/20,1/31/21,2/28/21,3/31/21,4/30/21
0,9,0,California,State,CA,"$164,893","$164,665","$164,525","$164,251","$164,074",...,596835,603068,610428,617866,625490,633159,640804,648792,657159,667443
1,54,1,Texas,State,TX,"$98,567","$98,593","$98,624","$98,752","$98,894",...,216396,217675,219236,221190,223373,225720,227942,230571,233331,236733
2,43,2,New York,State,NY,"$121,945","$121,667","$121,503","$121,252","$121,151",...,281927,283989,286463,289291,292326,295440,298466,301666,304962,308611
3,14,3,Florida,State,FL,"$104,399","$104,506","$104,629","$104,860","$105,082",...,270256,272211,274541,277151,279841,282750,285848,289073,292636,296666
4,21,4,Illinois,State,IL,"$130,138","$130,128","$130,040","$130,105","$130,023",...,214143,215393,217082,218966,220938,222885,224636,226821,229012,231775
5,47,5,Pennsylvania,State,PA,"$97,116","$97,055","$96,993","$96,893","$96,800",...,204211,205957,207912,210069,212400,214851,217363,219910,222596,225601
6,44,6,Ohio,State,OH,"$93,445","$93,559","$93,710","$94,023","$94,349",...,160416,161838,163361,165074,167022,168974,170915,172847,174992,177338
7,30,7,Michigan,State,MI,"$90,999","$91,326","$91,638","$92,308","$92,969",...,181750,183399,185371,187497,189613,191804,193846,196015,198089,200350
8,16,8,Georgia,State,GA,"$105,160","$105,320","$105,483","$105,837","$106,192",...,214906,216415,218106,220076,222475,225079,227737,230398,233235,236492
9,36,9,North Carolina,State,NC,"$112,016","$112,234","$112,430","$112,835","$113,233",...,217129,218753,220584,222614,224799,227248,230019,232994,236198,239534
10,40,10,New Jersey,State,NJ,"$169,468","$169,145","$168,911","$168,470","$168,126",...,362783,366367,370788,375747,380678,385465,390123,394941,400010,405511
11,56,11,Virginia,State,VA,"$121,852","$121,799","$121,808","$121,789","$121,745",...,297403,299182,301229,303480,306285,309277,312471,315452,318762,322407
12,59,12,Washington,State,WA,"$142,939","$142,947","$142,975","$143,046","$143,184",...,447221,452627,458411,464875,471111,477203,483046,489803,497004,505842
13,26,13,Massachusetts,State,MA,"$161,236","$161,236","$161,363","$161,583","$161,823",...,455093,459612,465064,470953,477176,483360,489191,495694,502598,510708
14,22,14,Indiana,State,IN,"$116,289","$116,271","$115,798","$115,389","$115,469",...,164784,165941,167245,168711,170422,172273,174085,175986,177957,180041
15,8,15,Arizona,State,AZ,"$113,552","$113,877","$114,248","$114,924","$115,557",...,293242,296913,301261,305955,311090,316349,322308,328187,334794,340657
16,53,16,Tennessee,State,TN,"$91,350","$91,529","$91,748","$92,175","$92,622",...,198074,199621,201277,203086,205188,207446,209860,212156,214501,217054
17,32,17,Missouri,State,MO,"$83,785","$83,992","$84,156","$84,480","$84,743",...,172297,173790,175398,177110,178926,180807,182633,184566,186725,189275
18,27,18,Maryland,State,MD,"$155,876","$155,876","$155,878","$155,936","$156,082",...,332977,335632,338824,342202,345903,349832,353467,357831,362441,367790
19,60,19,Wisconsin,State,WI,"$97,298","$97,438","$97,543","$97,842","$98,195",...,205260,206955,208843,210751,212986,215198,217617,219839,222238,224756
20,31,20,Minnesota,State,MN,"$106,047","$105,870","$105,795","$105,717","$105,794",...,274180,276005,277999,280244,282723,285218,287854,290378,293169,295805
21,10,21,Colorado,State,CO,"$145,687","$146,166","$146,560","$147,358","$148,057",...,433291,436345,439947,444243,449018,454107,459324,465224,471977,479660
22,4,22,Alabama,State,AL,"$85,787","$85,893","$85,978","$86,100","$86,166",...,151939,153005,154304,155680,157040,158401,159833,161343,162945,164638
23,51,23,South Carolina,State,SC,"$99,523","$99,634","$99,673","$99,879","$100,033",...,201891,203182,204701,206415,208271,210193,212198,214425,216833,219567
24,25,24,Louisiana,State,LA,"$85,126","$85,449","$85,691","$86,199","$86,494",...,175624,176369,177227,178167,179139,179894,180686,181564,182658,183774
25,24,25,Kentucky,State,KY,"$76,289","$76,446","$76,576","$76,874","$77,133",...,153888,154872,155970,157220,158669,160052,161347,162642,164118,165711
26,46,26,Oregon,State,OR,"$131,817","$132,300","$132,723","$133,573","$134,401",...,384293,387392,391636,395939,400757,405362,410132,415477,421433,428698
27,45,27,Oklahoma,State,OK,"$64,961","$65,059","$65,214","$65,474","$65,745",...,137432,138232,139129,140078,141037,142089,143130,144282,145484,146902
28,11,28,Connecticut,State,CT,"$159,510","$159,306","$159,553","$159,722","$159,848",...,284245,287333,291095,295155,299557,303904,308367,313385,318691,324406
29,19,29,Iowa,State,IA,"$79,358","$79,523","$79,674","$79,973","$80,202",...,156396,156816,157320,157869,158695,159515,160433,161571,162821,164194
30,34,30,Mississippi,State,MS,"$74,070","$74,069","$74,144","$74,238","$74,389",...,130092,130565,131157,131860,132681,133593,134508,135601,136742,138071
31,6,31,Arkansas,State,AR,"$69,964","$69,996","$70,074","$70,186","$70,315",...,135375,136111,136884,137729,138819,139936,141133,142306,143634,144955
32,23,32,Kansas,State,KS,"$78,138","$78,288","$78,448","$78,716","$78,895",...,160891,161908,163050,164359,165894,167465,168996,170537,172140,173803
33,55,33,Utah,State,UT,"$163,731","$163,865","$164,145","$164,632","$165,283",...,380514,384625,389402,395029,400925,407824,413906,421386,429003,438714
34,42,34,Nevada,State,NV,"$154,940","$154,902","$155,043","$155,181","$155,444",...,330671,333733,337768,341093,344254,347311,350624,354294,358270,362862
35,41,35,New Mexico,State,NM,$nan,$nan,$nan,$nan,$nan,...,217086,218901,221028,223383,226139,228841,231607,234565,237659,240817
36,61,36,West Virginia,State,WV,"$62,548","$62,554","$62,557","$62,569","$62,573",...,110905,111249,111651,112141,112976,113776,114492,115119,115829,116603
37,38,37,Nebraska,State,NE,"$86,131","$86,418","$86,493","$86,890","$87,158",...,185836,186921,188199,189747,191498,193268,194960,196859,198881,201143
38,20,38,Idaho,State,ID,"$119,008","$118,826","$118,754","$118,578","$118,454",...,313367,317571,322459,328355,335359,343196,351575,360338,369618,379764
39,18,39,Hawaii,State,HI,"$270,671","$269,552","$268,558","$266,482","$264,098",...,750523,752764,756711,761964,768782,775929,783324,790650,798904,807777
40,28,40,Maine,State,ME,"$99,463","$99,110","$98,894","$98,401","$98,035",...,256587,259037,262046,265457,268966,272815,276772,280868,285293,290358
41,39,41,New Hampshire,State,NH,"$112,469","$112,200","$112,017","$111,741","$111,794",...,322226,325659,329748,334235,339013,344120,348939,354153,359125,365417
42,50,42,Rhode Island,State,RI,"$129,995","$130,103","$130,106","$130,125","$129,964",...,324845,327872,331871,336383,340611,345232,350183,355321,360344,365409
43,35,43,Montana,State,MT,$nan,$nan,$nan,$nan,$nan,...,302521,304633,307505,310955,314851,319223,323344,328361,333637,339812
44,13,44,Delaware,State,DE,"$134,170","$134,112","$134,054","$133,912","$134,037",...,271214,273403,275876,278774,281798,284713,287641,290647,294081,297808
45,52,45,South Dakota,State,SD,"$103,424","$103,739","$103,536","$103,303","$102,773",...,221155,222209,223402,224783,226482,228216,230030,232084,234518,237217
46,3,46,Alaska,State,AK,"$112,046","$112,431","$112,765","$113,468","$113,964",...,305656,305831,303942,304123,304280,307489,308629,309978,310907,312601
47,37,47,North Dakota,State,ND,$nan,$nan,$nan,$nan,$nan,...,241027,241214,241492,242179,243359,244583,245668,246807,248075,249220
48,58,48,Vermont,State,VT,"$117,707","$117,530","$117,289","$116,853","$116,403",...,269972,270965,271824,273617,276246,279352,282067,285208,288595,292592
49,12,49,District of Columbia,State,DC,"$195,733","$194,729","$193,865","$192,421","$191,303",...,751140,755614,760697,764941,770592,774413,776250,778298,781710,785589
50,62,50,Wyoming,State,WY,$nan,$nan,$nan,$nan,$nan,...,258864,259574,260262,261129,262393,263583,264661,265726,266769,267928

In [16]:
columns_2019 = []

for nineteen in complete_housing_data.columns:
    if nineteen.endswith('/19'):
        columns_2019.append(nineteen)
columns_2019

['1/31/19',
 '2/28/19',
 '3/31/19',
 '4/30/19',
 '5/31/19',
 '6/30/19',
 '7/31/19',
 '8/31/19',
 '9/30/19',
 '10/31/19',
 '11/30/19',
 '12/31/19']

In [17]:
housing_data_2019 = complete_housing_data[['RegionName','StateName', '1/31/19',
 '2/28/19',
 '3/31/19',
 '4/30/19',
 '5/31/19',
 '6/30/19',
 '7/31/19',
 '8/31/19',
 '9/30/19',
 '10/31/19',
 '11/30/19',
 '12/31/19']]
housing_data_2019

,RegionName,StateName,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,10/31/19,11/30/19,12/31/19
0,California,CA,563530,562349,561892,562607,565129,568037,569727,570066,570174,570925,572015,574312
1,Texas,TX,205189,206158,206874,207291,207877,208509,209250,209871,210455,210702,210983,211237
2,New York,NY,267642,268531,269597,270561,271672,272556,273165,273489,273579,273617,273760,274176
3,Florida,FL,254262,255018,255450,255796,256275,257070,258117,258807,259321,259831,260559,261283
4,Illinois,IL,208592,208935,209397,209880,210433,210880,211192,211270,210956,210598,210345,210436
5,Pennsylvania,PA,190876,191675,192291,192833,193584,194465,195303,195861,196294,196720,197111,197604
6,Ohio,OH,147007,147816,148601,149167,149846,150551,151350,151966,152616,153172,153535,154021
7,Michigan,MI,167887,168624,169214,169922,171049,172341,173447,173928,174259,174529,174977,175349
8,Georgia,GA,198655,199526,200610,201615,202654,203456,204299,205183,206024,206753,207166,207644
9,North Carolina,NC,200170,201012,201826,202722,203613,204577,205447,206299,207136,208034,208932,209761
10,New Jersey,NJ,346593,346993,347666,348342,349640,350851,352123,352215,351620,350816,350434,350831
11,Virginia,VA,279972,281187,282284,283308,284050,284849,285704,286729,287727,288703,289162,289571
12,Washington,WA,406244,406693,407184,407382,409369,411622,414188,415557,416854,417879,419914,422971
13,Massachusetts,MA,430740,431111,431128,431729,433049,434824,435597,435838,436020,436397,436969,437886
14,Indiana,IN,151076,151853,152572,153140,153972,154740,155484,156222,157019,157826,158372,158767
15,Arizona,AZ,260225,261307,262134,262784,263998,265890,267870,269595,270845,272259,273632,275473
16,Tennessee,TN,180270,181081,181895,182615,183450,184239,185032,185898,186832,187779,188637,189479
17,Missouri,MO,160834,161672,162348,162885,163561,164207,164746,164984,165309,165689,166141,166591
18,Maryland,MD,321247,321970,322419,322570,323183,323945,324218,324320,324292,324413,324368,324456
19,Wisconsin,WI,188682,189565,190566,191668,192559,193404,194243,195039,195679,196471,197002,197752
20,Minnesota,MN,256195,257088,257703,258477,259513,260922,262191,263050,263921,264633,265262,265943
21,Colorado,CO,410084,411154,412047,412771,413100,414012,415138,416289,417309,417959,418556,419725
22,Alabama,AL,139638,140136,140667,141170,141688,142369,143071,143680,144129,144633,145251,146022
23,South Carolina,SC,188748,189534,190097,190683,191199,191860,192544,193240,193826,194418,194976,195627
24,Louisiana,LA,169610,169605,169712,169870,170301,170721,171144,171247,171353,171371,171574,172167
25,Kentucky,KY,142509,143240,143873,144525,145351,146217,147007,147591,148146,148638,149023,149508
26,Oregon,OR,362050,362967,363291,363417,364019,365309,366408,367403,367688,368644,369244,370626
27,Oklahoma,OK,127023,127552,128007,128410,128737,129277,129929,130518,131021,131509,132114,132690
28,Connecticut,CT,273470,273999,274345,275106,275852,276320,276359,275938,275405,274972,274774,274907
29,Iowa,IA,149524,150113,150632,151043,151385,151852,152269,152807,153225,153696,153973,154339
30,Mississippi,MS,123266,123689,124173,124776,125264,125730,126084,126547,126904,127236,127523,127838
31,Arkansas,AR,127545,127958,128279,128658,129161,129705,130183,130653,131118,131600,131811,132036
32,Kansas,KS,150624,151106,151616,152116,152675,153332,154044,154673,155187,155570,155697,155932
33,Utah,UT,345726,347874,349896,350971,352060,353644,355311,357029,358489,359443,360705,361597
34,Nevada,NV,317865,319167,319134,319362,320348,321472,321455,320161,318791,318976,320101,321047
35,New Mexico,NM,198158,199005,199632,200266,201262,202576,203904,205089,206084,206641,207079,207729
36,West Virginia,WV,106183,106578,106969,107350,107719,108098,108482,108910,109259,109541,109357,109258
37,Nebraska,NE,173220,173872,174534,175268,176239,177152,178096,178920,179628,180129,180461,180830
38,Idaho,ID,270337,272384,274918,276951,279347,281283,283640,286214,288863,291110,292529,293965
39,Hawaii,HI,741278,742067,742934,742368,741399,740976,742350,743455,743580,743267,741943,741033
40,Maine,ME,233563,233878,233992,234806,235836,237412,238907,239962,240928,241972,243317,244559
41,New Hampshire,NH,298048,298858,299511,300022,301812,303724,305481,305929,306275,306672,307503,308303
42,Rhode Island,RI,303205,303441,304123,304882,305908,307128,308899,309622,309853,309980,311094,311988
43,Montana,MT,279085,280495,281929,283126,284049,285396,286490,288373,289657,290769,291506,292425
44,Delaware,DE,261994,262694,263340,263342,262825,262277,261988,262131,262156,261852,261551,261752
45,South Dakota,SD,209745,210340,210859,211319,212153,212975,213765,214380,214973,215530,215942,216585
46,Alaska,AK,284514,287577,291306,296187,297680,299095,299385,300942,306301,308258,310265,307678
47,North Dakota,ND,234576,234953,235038,235234,235572,236250,236922,237761,238603,239142,239160,239098
48,Vermont,VT,255790,256913,258059,259035,259662,260612,261430,262714,264047,264774,264922,264898
49,District of Columbia,DC,720850,721204,725992,729154,736707,739755,741192,740788,739932,740038,738266,739101
50,Wyoming,WY,241059,241884,243217,244605,246393,247892,249471,250798,252112,253241,253827,254562

In [18]:
avg_value_2019 = housing_data_2019.mean(axis=1)
avg_value_2019

0    $567,564
1    $208,700
2    $271,862
3    $257,649
4    $210,243
5    $194,551
6    $150,804
7    $172,127
8    $203,632
9    $204,961
10   $349,844
11   $285,270
12   $412,988
13   $434,274
14   $155,087
15   $267,168
16   $184,767
17   $164,081
18   $323,450
19   $193,552
20   $261,242
21   $414,845
22   $142,704
23   $192,229
24   $170,723
25   $146,302
26   $365,922
27   $129,732
28   $275,121
29   $152,072
30   $125,752
31   $129,892
32   $153,548
33   $354,395
34   $319,823
35   $203,119
36   $108,142
37   $177,362
38   $282,628
39   $742,221
40   $238,261
41   $303,512
42   $307,510
43   $286,108
44   $262,325
45   $213,214
46   $299,099
47   $236,859
48   $261,071
49   $734,415
50   $248,255
dtype: float64

In [19]:
add_avg = housing_data_2019.assign(AverageHomePrice = avg_value_2019)

add_avg

,RegionName,StateName,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,10/31/19,11/30/19,12/31/19,AverageHomePrice
0,California,CA,563530,562349,561892,562607,565129,568037,569727,570066,570174,570925,572015,574312,"$567,564"
1,Texas,TX,205189,206158,206874,207291,207877,208509,209250,209871,210455,210702,210983,211237,"$208,700"
2,New York,NY,267642,268531,269597,270561,271672,272556,273165,273489,273579,273617,273760,274176,"$271,862"
3,Florida,FL,254262,255018,255450,255796,256275,257070,258117,258807,259321,259831,260559,261283,"$257,649"
4,Illinois,IL,208592,208935,209397,209880,210433,210880,211192,211270,210956,210598,210345,210436,"$210,243"
5,Pennsylvania,PA,190876,191675,192291,192833,193584,194465,195303,195861,196294,196720,197111,197604,"$194,551"
6,Ohio,OH,147007,147816,148601,149167,149846,150551,151350,151966,152616,153172,153535,154021,"$150,804"
7,Michigan,MI,167887,168624,169214,169922,171049,172341,173447,173928,174259,174529,174977,175349,"$172,127"
8,Georgia,GA,198655,199526,200610,201615,202654,203456,204299,205183,206024,206753,207166,207644,"$203,632"
9,North Carolina,NC,200170,201012,201826,202722,203613,204577,205447,206299,207136,208034,208932,209761,"$204,961"
10,New Jersey,NJ,346593,346993,347666,348342,349640,350851,352123,352215,351620,350816,350434,350831,"$349,844"
11,Virginia,VA,279972,281187,282284,283308,284050,284849,285704,286729,287727,288703,289162,289571,"$285,270"
12,Washington,WA,406244,406693,407184,407382,409369,411622,414188,415557,416854,417879,419914,422971,"$412,988"
13,Massachusetts,MA,430740,431111,431128,431729,433049,434824,435597,435838,436020,436397,436969,437886,"$434,274"
14,Indiana,IN,151076,151853,152572,153140,153972,154740,155484,156222,157019,157826,158372,158767,"$155,087"
15,Arizona,AZ,260225,261307,262134,262784,263998,265890,267870,269595,270845,272259,273632,275473,"$267,168"
16,Tennessee,TN,180270,181081,181895,182615,183450,184239,185032,185898,186832,187779,188637,189479,"$184,767"
17,Missouri,MO,160834,161672,162348,162885,163561,164207,164746,164984,165309,165689,166141,166591,"$164,081"
18,Maryland,MD,321247,321970,322419,322570,323183,323945,324218,324320,324292,324413,324368,324456,"$323,450"
19,Wisconsin,WI,188682,189565,190566,191668,192559,193404,194243,195039,195679,196471,197002,197752,"$193,552"
20,Minnesota,MN,256195,257088,257703,258477,259513,260922,262191,263050,263921,264633,265262,265943,"$261,242"
21,Colorado,CO,410084,411154,412047,412771,413100,414012,415138,416289,417309,417959,418556,419725,"$414,845"
22,Alabama,AL,139638,140136,140667,141170,141688,142369,143071,143680,144129,144633,145251,146022,"$142,704"
23,South Carolina,SC,188748,189534,190097,190683,191199,191860,192544,193240,193826,194418,194976,195627,"$192,229"
24,Louisiana,LA,169610,169605,169712,169870,170301,170721,171144,171247,171353,171371,171574,172167,"$170,723"
25,Kentucky,KY,142509,143240,143873,144525,145351,146217,147007,147591,148146,148638,149023,149508,"$146,302"
26,Oregon,OR,362050,362967,363291,363417,364019,365309,366408,367403,367688,368644,369244,370626,"$365,922"
27,Oklahoma,OK,127023,127552,128007,128410,128737,129277,129929,130518,131021,131509,132114,132690,"$129,732"
28,Connecticut,CT,273470,273999,274345,275106,275852,276320,276359,275938,275405,274972,274774,274907,"$275,121"
29,Iowa,IA,149524,150113,150632,151043,151385,151852,152269,152807,153225,153696,153973,154339,"$152,072"
30,Mississippi,MS,123266,123689,124173,124776,125264,125730,126084,126547,126904,127236,127523,127838,"$125,752"
31,Arkansas,AR,127545,127958,128279,128658,129161,129705,130183,130653,131118,131600,131811,132036,"$129,892"
32,Kansas,KS,150624,151106,151616,152116,152675,153332,154044,154673,155187,155570,155697,155932,"$153,548"
33,Utah,UT,345726,347874,349896,350971,352060,353644,355311,357029,358489,359443,360705,361597,"$354,395"
34,Nevada,NV,317865,319167,319134,319362,320348,321472,321455,320161,318791,318976,320101,321047,"$319,823"
35,New Mexico,NM,198158,199005,199632,200266,201262,202576,203904,205089,206084,206641,207079,207729,"$203,119"
36,West Virginia,WV,106183,106578,106969,107350,107719,108098,108482,108910,109259,109541,109357,109258,"$108,142"
37,Nebraska,NE,173220,173872,174534,175268,176239,177152,178096,178920,179628,180129,180461,180830,"$177,362"
38,Idaho,ID,270337,272384,274918,276951,279347,281283,283640,286214,288863,291110,292529,293965,"$282,628"
39,Hawaii,HI,741278,742067,742934,742368,741399,740976,742350,743455,743580,743267,741943,741033,"$742,221"
40,Maine,ME,233563,233878,233992,234806,235836,237412,238907,239962,240928,241972,243317,244559,"$238,261"
41,New Hampshire,NH,298048,298858,299511,300022,301812,303724,305481,305929,306275,306672,307503,308303,"$303,512"
42,Rhode Island,RI,303205,303441,304123,304882,305908,307128,308899,309622,309853,309980,311094,311988,"$307,510"
43,Montana,MT,279085,280495,281929,283126,284049,285396,286490,288373,289657,290769,291506,292425,"$286,108"
44,Delaware,DE,261994,262694,263340,263342,262825,262277,261988,262131,262156,261852,261551,261752,"$262,325"
45,South Dakota,SD,209745,210340,210859,211319,212153,212975,213765,214380,214973,215530,215942,216585,"$213,214"
46,Alaska,AK,284514,287577,291306,296187,297680,299095,299385,300942,306301,308258,310265,307678,"$299,099"
47,North Dakota,ND,234576,234953,235038,235234,235572,236250,236922,237761,238603,239142,239160,239098,"$236,859"
48,Vermont,VT,255790,256913,258059,259035,259662,260612,261430,262714,264047,264774,264922,264898,"$261,071"
49,District of Columbia,DC,720850,721204,725992,729154,736707,739755,741192,740788,739932,740038,738266,739101,"$734,415"
50,Wyoming,WY,241059,241884,243217,244605,246393,247892,249471,250798,252112,253241,253827,254562,"$248,255"

In [20]:
df_state_price_2019 = add_avg[['StateName', 'AverageHomePrice']]
df_state_price_2019

   StateName  AverageHomePrice
0         CA          $567,564
1         TX          $208,700
2         NY          $271,862
3         FL          $257,649
4         IL          $210,243
5         PA          $194,551
6         OH          $150,804
7         MI          $172,127
8         GA          $203,632
9         NC          $204,961
10        NJ          $349,844
11        VA          $285,270
12        WA          $412,988
13        MA          $434,274
14        IN          $155,087
15        AZ          $267,168
16        TN          $184,767
17        MO          $164,081
18        MD          $323,450
19        WI          $193,552
20        MN          $261,242
21        CO          $414,845
22        AL          $142,704
23        SC          $192,229
24        LA          $170,723
25        KY          $146,302
26        OR          $365,922
27        OK          $129,732
28        CT          $275,121
29        IA          $152,072
30        MS          $125,752
31        AR          $129,892
32        KS          $153,548
33        UT          $354,395
34        NV          $319,823
35        NM          $203,119
36        WV          $108,142
37        NE          $177,362
38        ID          $282,628
39        HI          $742,221
40        ME          $238,261
41        NH          $303,512
42        RI          $307,510
43        MT          $286,108
44        DE          $262,325
45        SD          $213,214
46        AK          $299,099
47        ND          $236,859
48        VT          $261,071
49        DC          $734,415
50        WY          $248,255

In [21]:
pd.options.display.float_format = '${:,.0f}'.format

In [22]:
df_state_price_2019

   StateName  AverageHomePrice
0         CA          $567,564
1         TX          $208,700
2         NY          $271,862
3         FL          $257,649
4         IL          $210,243
5         PA          $194,551
6         OH          $150,804
7         MI          $172,127
8         GA          $203,632
9         NC          $204,961
10        NJ          $349,844
11        VA          $285,270
12        WA          $412,988
13        MA          $434,274
14        IN          $155,087
15        AZ          $267,168
16        TN          $184,767
17        MO          $164,081
18        MD          $323,450
19        WI          $193,552
20        MN          $261,242
21        CO          $414,845
22        AL          $142,704
23        SC          $192,229
24        LA          $170,723
25        KY          $146,302
26        OR          $365,922
27        OK          $129,732
28        CT          $275,121
29        IA          $152,072
30        MS          $125,752
31        AR          $129,892
32        KS          $153,548
33        UT          $354,395
34        NV          $319,823
35        NM          $203,119
36        WV          $108,142
37        NE          $177,362
38        ID          $282,628
39        HI          $742,221
40        ME          $238,261
41        NH          $303,512
42        RI          $307,510
43        MT          $286,108
44        DE          $262,325
45        SD          $213,214
46        AK          $299,099
47        ND          $236,859
48        VT          $261,071
49        DC          $734,415
50        WY          $248,255

In [23]:
df_state_price_2019.rename(columns={'AverageHomePrice': 'Average Home Price', 'StateName': 'State'}, inplace=True)

/Users/damisohutchinson/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [24]:
df_state_price_2019

   State  Average Home Price
0     CA            $567,564
1     TX            $208,700
2     NY            $271,862
3     FL            $257,649
4     IL            $210,243
5     PA            $194,551
6     OH            $150,804
7     MI            $172,127
8     GA            $203,632
9     NC            $204,961
10    NJ            $349,844
11    VA            $285,270
12    WA            $412,988
13    MA            $434,274
14    IN            $155,087
15    AZ            $267,168
16    TN            $184,767
17    MO            $164,081
18    MD            $323,450
19    WI            $193,552
20    MN            $261,242
21    CO            $414,845
22    AL            $142,704
23    SC            $192,229
24    LA            $170,723
25    KY            $146,302
26    OR            $365,922
27    OK            $129,732
28    CT            $275,121
29    IA            $152,072
30    MS            $125,752
31    AR            $129,892
32    KS            $153,548
33    UT            $354,395
34    NV            $319,823
35    NM            $203,119
36    WV            $108,142
37    NE            $177,362
38    ID            $282,628
39    HI            $742,221
40    ME            $238,261
41    NH            $303,512
42    RI            $307,510
43    MT            $286,108
44    DE            $262,325
45    SD            $213,214
46    AK            $299,099
47    ND            $236,859
48    VT            $261,071
49    DC            $734,415
50    WY            $248,255

In [25]:
len(df_state_price_2019)

51

In [26]:
df_state_price_2019.to_csv('output_csv/output_housing_value_by_state.csv')